services:
    -
        class: Raul338\Phpstan\Cake\TableMethodsClassReflectionExtension
        tags:
            - phpstan.broker.methodsClassReflectionExtension
    -
        class: Raul338\Phpstan\Cake\CrudDynamicMethodReturnExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
parameters:
    stubFiles:
        - stubs/CrudComponent.php
    universalObjectCratesClasses:
        - Crud\Event\Subject
