services:
    -
        class: Raul338\Phpstan\Cake\TableMethodsClassReflectionExtension
        tags:
            - phpstan.broker.methodsClassReflectionExtension
    -
        class: Raul338\Phpstan\Cake\CrudSubjectDynamicMethodReturnExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
    -
        class: Raul338\Phpstan\Cake\ControllerDynamicMethodReturnExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
    -
        class: Raul338\Phpstan\Cake\CrudDynamicMethodReturnExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
    -
        class: Raul338\Phpstan\Cake\QueryDynamicMethodReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
