includes:
    - ./cakephp-extensions.neon
    - ./phpstan-baseline.neon
parameters:
    level: max
    bootstrapFiles:
        - tests/bootstrap.php
    paths:
        - src
        - tests/src
        - tests/TestCase
